*{
    padding: 0%;
    margin: 0%;
    font-family: cursive;
}
body{
    background-color: skyblue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    width: fit-content;
    background-color: white;
    padding: 50px;
    box-shadow: 5px 5px 10px;
}
input{
    padding: 5px;
}
h1{
    text-align: center;
    color: hotpink;
    
}
input[type=button]{
    background-color: aqua;
}
label{
    color: blue;
}
